 /* mapa, un mixin y un extend */ 
@import 'variables';

 /* condicionales */

$pantalla:desktop;
.card1{
	@if $pantalla == desktop {
		border-radius: 0%;
	}
	@else{
		border-radius: 10%;
	}
}

@for $i from 1 to 5 {
	D#{$i}{
		font-size: 12px * $i;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
		padding: 15px;
		text-align: center;
	}
}

@each $background in red, blue, orange, grey, silver,{
	.bg-#{$background}{
		background-color: $background;
	}
	
}

$cuadros-cards:(
	motos: blue,
	autos: red,
	financia: orange,
	honda: tomato,
);

@each $nombre, $valor in $cuadros-cards {
	.card-#{$nombre}{
		background-color: $valor;
	}
}

$colores:(
	uno: red,
	dos: blue,
	tres: green,
);

.card1--nuevo{
	@extend .card1;
	background-color: #15a00e;
}

@mixin card1($col, $bg) {
		color: $col;
		background-color: $bg;
		display: flex;
    	flex-direction: column;
    	margin: 15px;
}

.card1--nuevo2{
	@include card1(orange, rgb(118, 93, 93));
}

.motoAuto{
    display:grid;
	grid-template-columns: repeat(auto-fit, 380px);
	grid-template-rows: 260px ;
	justify-content: space-around;

        img{
            display: flex;
            flex-direction: column;
            padding: 5px;
            width: 100%;
        }
}

.pie{
    display: flex;
	justify-content: center;
	height: 120px;
	padding-top: 2rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.5rem;
	margin-top: 15px;	

     img{
        width: 30px;
    }
}

.mapa iframe{
    height: 450px;
    width: 100%;
    overflow: hidden;
}

.buscador{
  text-align: center;
	background-color: antiquewhite;
	height: 100px;
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        .iconDonde{
            display: flex;
            justify-content: center;
            padding: 15px 0 0 0;

            .buscarIcon{
                padding-right: 10px;
            }
            .donde{
                padding-right: 10px;
            }
    
        }
        
}

.contenedor{
	display: flex;
	flex-direction: row;
	justify-items: center;
	align-items: center;
	justify-items: center;
	width: 98%;
	margin: auto;
	display: table;

  img{
    height: 70px;
    float: left;
    margin: 6px;
  }
  .label{
    img{
      height:25px;
      margin-top: 20px;
    }
  }
}


#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}
#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: black;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}
#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: black;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: black !important;
}
@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: white;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: black;
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #CF1D2E;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-shrink {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f4623a;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #f4623a;
  }
}

    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;   
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}



header{
	width: 100%;
	height: 80px;
	background-color: rgb(255, 255, 255);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
}


.tarjetas{
	display: grid;
	grid-template-columns:  repeat(auto-fit, 400px);
	align-content: space-between;
  	justify-content: space-around;
	
}

.tarjetasAutos{
	display: grid;
	grid-template-columns:  repeat(auto-fit, 400px);
	align-content: space-between;
  	justify-content: space-around;
	
}


.slider-container{
  text-align: center;
}


.contenedor img{
	height: 70px;
	float: left;
	margin: 6px;
}


.contenedor{
	display: flex;
	flex-direction: row;
	justify-items: center;
	align-items: center;
	justify-items: center;
	width: 98%;
	margin: auto;
	display: table;
}


#menu-bar{
	display: none;
}


header label{
	float: right;
	margin: 6px;
	cursor: pointer;
}


.contenedor label img{
	height:25px;
	margin-top: 20px;
}


.menu{
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 80px;
	left: 0;
	background: rgba(51, 51, 51, 0.9);
	transition: all 0.5s;
	transform:translateX(-100%);
}

.md-form{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col-md-12 {
	margin: 10px 0px;
}

.col-md-6 {
	margin: 10px 0px;
}

.menu a {
	display: block;
	color: #fff;
	height: 50px;
	text-decoration: none;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 15px;
	border-bottom: 1px solid rgba(255, 255,255, 0.5);
}


.menu a:hover  {
	background:  rgba(255, 255,255, 0.3);
}


#menu-bar:checked ~ .menu {
	transform:translateX(0%);
}


.btnConsulta{
	text-align: center;
	display: flex;
	align-self: center;
	margin: 0px 0px 20px 0px;

}

.card1{
    display: flex;
    flex-direction: column;
    margin: 15px;
}


.card1 h2{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    padding: 15px;
    text-align: center;
	color: $colorFuente;
	
}


.card1 p{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    padding: 25px;
    min-height: 80px;
	color: $colorFuente;
}


.imgBtn {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 20px;
    width: 150px;
}

.video{
	display: flex;
    margin-top: 20px;
    width: 750px;
    height: 470px; 
}

.bv{
    display: flex;
    justify-content: center;
	gap: 20px;
	margin: 30px;
}
.bv img{
    display: flex;
    justify-content: center;
	margin-top: 20px;
	max-height: 470px;
}

.quienes{
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin: 30px;
}

.quienes img{
	width: 300px;
	height: fit-content;
}


h2{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px; 
}

p{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	line-height: 22px;
	color: map-get($colores, dos);
	padding: 10px;
}


/* CSS MODIFICADO */

.styled-select { width: 100%; height: 34px; overflow: hidden; background: url(new_arrow.png) no-repeat right #ddd; border: 1px solid #ccc; }

.sidebar-box select{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 18px;
padding: 2px 10px;
height:22px;
min-width: 225px;
-webkit-appearance: none;
height: 28px;
background-color: #ffffff; 
background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
background-repeat: no-repeat, repeat;
background-position: right .7em top 50%, 0 0;
background-size: .65em auto, 100%;
}





/* Dispositivos Extra Pequeños (teléfono vertical (portrait), less than 576px) */
	  
	@media only screen and (max-width: 575.98px){

		#carouselExampleInterval {
			display: none;
		}
		
		
		.fuente{
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			font-size: 22px;
		}

		
		.redesInf img{
			height: 30px;
			padding:5px 0 0 0;
		}


		.redesSup{
			display: none;
		}


		.bv .banner{
			display: none;
		}

	
		.quienes img{
			display: none;
		}

		.tarjetas{
			margin-top: 100px;
		}

		.pie{
			display: block;
			margin-top: 0px;
			text-align: center;
			padding-top: 10px;
		
		}


	
	}

/* Pequeños Dispositivos (teléfono apaisado (landscape), 576px y arriba) */
	@media only screen and (max-width: 767.98px){
		
		.fuente{
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			font-size: 22px;
		}

		.tarjetas{
			margin-top: 100px;
		}
	
		#carouselExampleInterval {
			display: none;
		}


		.bv .banner{
			display: none;
		}

		
		.quienes img{
			display: none;
		}

	}

/* Dispositivos Medianos (tablets, 768px y arriba) */
	@media only screen and  (max-width: 991.98px) {

			
		.sidebar-box {
			padding-top: 0px;
		}

		.tarjetasAutos{
			margin-top: 20px;
		}

    .tarjetas{
			margin-top:150px;
		}


		.fuente{
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			font-size: 22px;
		}


		#carouselExampleInterval {
			display: none;
		}

		.bv .banner{
			display: none;
		}

		
		.video{
			margin-top:100px;
			height: 250px !important ; 
		}


		.quienes img{
			display: none;
		}


		.quienes{
			display: flex;
			flex-direction: column;
			margin-top: 150px;
		}


		.mb-4{
			margin-top: 150px;
		}

    .video{
      margin-top: 120px;
    }

		.buscador{
			margin-top: 100px;
			margin-bottom: 10px;
		}

		.sidebar-box{
			margin: 0px 20px;
		}

		

	}

/* Dispositivos Grandes (desktops, 992px y arriba) */
		@media (min-width: 1200px) {
			
			.icon-menu{
			display: none;
		}
	
		.tarjetas{
			margin-top: 50px;
		}

		.menu{
			display: flex;
			justify-content: center;
			position: absolute;
			width: 100%;
			height: 100vh;
			top: 0px;
			left: 0;
			background: none;
			transition: none;
			transform:none;
			animation-play-state: paused;
		}
		

		.menu a {
			
			border-bottom: none;
			color: rgb(48, 48, 48);
			padding: 0px;
		}


		.menu li {
			display: inline-flex;
			padding: 40px 30px 30px 40px;
			color: none;
			height: 0;
			text-decoration: none;
			font-size: 18px;
			text-align: none;
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			border-bottom: none;
		}
		

		.menu a:hover  {
			background:  none;
			color: #CF1D2E;
			height: 2px;
		}

		
		#menu-bar:checked ~ .menu {
			transform:none;
			animation-play-state: paused;
		}

	}

/* Dispositivos Extra Grandes (large desktops, 1200px y arriba) */
	@media (min-width: 1200px){

		
		.menu{
			display: flex;
			justify-content: center;
			position: absolute;
			width: 100%;
			height: 50vh;
			top: 0px;
			left: 0;
			background: none;
			transition: none;
			transform:none;
		}


		.menu a {
			border-bottom: none;
			color: rgb(48, 48, 48);
		}


		.menu li {
			display: inline-flex;
    		padding: 40px 30px 0px 40px;
			color: none;
			height: 0;
			text-decoration: none;
			font-size: 18px;
			text-align: none;
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			border-bottom: none;
		}
		

		.menu a:hover  {
			background:  none;
			color: #CF1D2E;
    		height: 2px;
		}
		

		#menu-bar:checked ~ .menu {
			transform:none;
		}

		.buscador{
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding-top: 10px;
			font-size: 30px;
			margin: 0px;
		}


		.sidebar-box {
			padding-top: 15px;
		}
			


		header{
		height: 120px;
		}


		.icon-menu{
		display: none;
		}


		.footer{
		display: flex;
		flex-direction: row;
		justify-content: center;
		justify-items: center;
		font-size: 20px;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
		height: 80px;
		margin-top: 10px;
		padding: 15px;
		background: #ebebeb;
		color: rgb(39, 39, 39);
		} 


		.redesInf img{
		height: 30px;
		padding:5px 10 0 10;
		padding-left: 10px;
		}


		.card1{
		padding:5px;
		width: 400px;
		}
	}




